/* If have not workteam preferences, I prefer use SMACSS methodology as is possible / But as you wish :) */
.full-page-config {
    height: 2350px;
    width: 1600px; 
    background-color: #fff;  
}

p, h1, h2, h3, a { 
    font-family: Roboto;
    font-style: normal;
}

p, a, h3 {font-size: 14px;}

/* header -----------*/
.header-config {
    display: flex;
    flex-direction: row; 
    background-color:#F5F4FA;
    width: 1600px;
    height: 80px;
}

.header-menu-box {
    display: flex;
    flex-direction: row; 
    margin-top: 24px;
}

/* logo */
.logo-intro {
    margin-left: 200px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;  
}
.logo-body {color: #000000;}

/* header menu */
.header-menu-options-list {
    display: flex;
    margin-top: 8px;
    text-indent: 50px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.header-menu-contacts-links {
    display: flex;
    margin-top: 33px;
    margin-left: 200pt;
    text-indent: 50px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

/* establish color style for references  */
.corporative-style, 
.corporative-style:visited,
.corporative-style:focus{color: #2196F3;}

.normal-style,
.normal-style:visited,
.normal-style:focus  {color:#000;}
 
/* pointer icons positioning */
.icon-pointer-first {
     position: absolute;
     left: 450px;
     top: 53px;
}
.icon-pointer-second {
    position: absolute;
    left: 1117px;
    top: 55px;
}

/* main box */

.main-hero-section {
    width: 1600px;
    height: 600px;
    background-color: #2F303A;
}

.main-hero-group-box {
    align-content: center;
    text-align: center;
    padding-top: 200px;
}

.main-hero-section-text {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 44px;
    letter-spacing: 1px;
    line-height: 60px;
    height: 120px;
}
/* button */
.service-button,
.service-button:visited {
    font-family: Roboto;
    width: 200px;
    height: 50px;
    line-height: 30px;
    background-color: #2196F3;
    font-size: 16px;
    color: #fff;
    border-radius: 8px;
}
/* button anamation */
.service-button:hover {
    width: 208px;
    height: 52px;
}
/* main articles */

.main-articles-box {
    display: flex;
    justify-content: center;
}

.main-articles-matrix {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding-left: 80px;
}

.main-articles-titles {
    text-transform: uppercase;
    color: #000;
}
.main-articles-element {
    padding: 5px 70px 0 1px;
    color: #212121;
    line-height: 24px;
    letter-spacing: 0.03em;
    
}

.main-articles-paragraph {
    color: #757575;
    width: 240px;
    height: 50px;
    
}

.main-profile-section {margin-top: 100px;}

.main-profile-images-list {
    display: flex;
    flex-direction: row;
    width: 1800px;
    height: 386px;
    padding: 0px 0 155px 145px;
    
}

.main-profile-image {margin-left: 50px;}

.main-titles {
    text-align: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 36px;
    color: #000;
}

.main-team-section {
    background-color: #F5F4FA;
    height: 648px;
}
.main-team-images-list {
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-left: -100px;   
}

.main-team-image-card {
     margin-left: 20px;
     width: 270px;
     height: 368px ;
     border-radius: 6px;
     background-color: #fff;
     box-shadow: 2px 2px 2px #d4d4d4;
     text-align: center;
}

.footer-section {
    width: 1600px;
    height: 252px;
    background-color:#2F303A;
    padding-top: 60px;
}

.footer-logo-body {color: #FFFFFF;}
.footer-logo-intro {color: #2196F3;}

.footer-contacts {
    width: 400px;
    line-height: 28px;
    color: #a3a2a2;
}
.footer-contacts:active,
.footer-contacts:focus,
.footer-contacts:visited {color:#a3a2a2;}

.footer-contacts-list {
    margin-left: 160px;
    margin-top: 22px;
}

.footer-adress { 
    line-height: 10px;
    color: #FFFFFF
}

